.title {
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
}

.title h1 {
    margin-bottom: 25px;
}

.title h2 {
    font-weight: bold;
}

.detail1 {
    width: 550px;
    height: 280px;
    padding: 15px;
    background-color: #EBFCFF;
    box-shadow: 10px 10px black;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    text-align: left;
    font-family: 'Space Mono', monospace;
}

.detail2 {
    width: 550px;
    height: 230px;
    padding: 15px;
    background-color: #EBFCFF;
    box-shadow: 10px 10px black;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    text-align: left;
    font-family: 'Space Mono', monospace;
    margin-top: 50px;
}

.detail3 {
    width: 550px;
    height: 220px;
    padding: 15px;
    background-color: #EBFCFF;
    box-shadow: 10px 10px black;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    text-align: left;
    font-family: 'Space Mono', monospace;
    margin-top: 50px;
}

.detail4 {
    width: 550px;
    height: 220px;
    padding: 15px;
    background-color: #FFBDC4;
    box-shadow: 10px 10px black;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    text-align: left;
    margin-top: 50px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 40px;
    top: 0px;
}

.detail5 {
    width: 550px;
    height: 220px;
    padding: 15px;
    background-color: #EBFCFF;
    box-shadow: 10px 10px black;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #faae2b;
}

.detail5 p {
    font-weight: 200;
}

.detail5 a {
    font-weight: bold;
    color: black;
    font-family: 'Comfortaa', cursive;
}

.tombol {
    width: 96px;
    height: 45px;
    box-shadow: 7px 7px black;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    margin: 10px;
    font-family: 'Space Mono', monospace;
    font-size: large;
    border-color: black;

}

.tombol:active {
    box-shadow: 4px 4px black;
    transition: 80ms;

}

#btn1 {
    background-color: #faae2b;
}

#btn2 {
    background-color: #8bd3dd;
}

.detail4:hover {
    box-shadow: 6px 6px black;
    top: 1px;
    transition: 70ms;
}

.detail4 h2 {
    font-weight: bold;
    font-size: 160%;
    text-align: left;
    margin-top: 25px;
}

.detail2 ul {
    list-style-type: decimal;
    margin-top: 17px;
    margin-left: 15px;
}

.detail1 ul {
    margin-left: 50px;
}

#b1 {
    background-color: #8bd3dd;
}

#b2 {
    background-color: #faae2b;
}

#img1 {
    margin-top: 30px;
    margin-left: 20px;
}

#img2 {
    margin-left: 50px;
    margin-top: 20px;
    width: 35%;
}

.daftar img {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 26%;
}

.daftar h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.daftar input {
    margin-top: 10px;
}